{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <!-- Подключаем шрифт и ваш отдельный CSS файл -->
    <link rel="stylesheet" href="https://googleapis.com">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="login-container">
        <h2>Рады видеть!</h2>
        <p class="subtitle">Пожалуйста, войдите в свой аккаунт</p>

        <!-- Блок вывода ошибки -->
        {% if error %}
            <div class="error-box">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            
            <div class="input-group">
                <label>Имя пользователя</label>
                <input type="text" name="username" required autocomplete="off" placeholder="Ваш логин">
            </div>
            
            <div class="input-group">
                <label>Пароль</label>
                <input type="password" name="password" required placeholder="••••••••">
            </div>
            
            <button type="submit" class="submit-btn">Войти на сайт</button>
        </form>
    </div>

</body>
</html>
